torch==2.4.0
torchvision==0.19.0
absl-py==2.1.0
accelerate==1.3.0
aenum==3.1.15
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==25.1.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.12.14
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.16.0
cloudpickle==3.1.1
colorama==0.4.6
compressed-tensors==0.6.0
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.11
Cython==3.0.12
dacite==1.8.1
DataProperty==1.1.0
datasets==2.17.0
datatrove==0.3.0
decorator==5.2.1
deepspeed==0.15.4
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
einops==0.8.0
fastapi==0.115.7
filelock==3.17.0
flashinfer-python==0.2.4
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.9.0
fuzzywuzzy==0.18.0
gguf==0.10.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.14.0
hjson==3.1.0
hqq==0.2.2
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.31.2
humanize==4.11.0
idna==3.10
importlib_metadata==8.6.1
interegular==0.3.3
jieba==0.42.1
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lark==1.2.2
lighteval @ git+https://github.com/huggingface/lighteval@ea46419a93fb390e8f694f7c6c64c1e684487c9d
llvmlite==0.43.0
lm-format-enforcer==0.10.6
loguru==0.7.3
lxml==5.3.0
marisa-trie==1.2.1
MarkupSafe==3.0.2
matplotlib==3.10.0
mbstrdecoder==1.1.4
mistral_common==1.5.2
ml_dtypes==0.5.1
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
git+https://github.com/huggingface/nanotron.git@2cde8f63519f15aa449803441ec70225644bd25d#egg=nanotron
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
numba==0.60.0
numpy==1.26.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.1.105
openai==1.60.2
opencv-python-headless==4.11.0.86
optimum-quanto==0.2.6
outlines==0.0.46
packaging==24.2
pandas==2.2.3
partial-json-parser==0.2.1.1.post5
pathvalidate==3.2.3
pillow==10.4.0
platformdirs==4.3.6
portalocker==3.1.1
preshed==3.0.9
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
propcache==0.2.1
protobuf==3.20.3
psutil==6.1.1
py-cpuinfo==9.0.0
pyarrow==19.0.0
pyarrow-hotfix==0.6
pycountry==24.6.1
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
pytablewriter==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytorch-triton==0.0.1
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
ray==2.41.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rouge==1.0.1
rouge_score==0.1.2
rpds-py==0.22.3
sacrebleu==2.5.1
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.20.0
setproctitle==1.3.4
six==1.17.0
smart-open==6.4.0
smmap==5.0.2
sniffio==1.3.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
starlette==0.45.3
sympy==1.13.3
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
termcolor==2.3.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tilelang==0.1.3+b710570.ubuntu.18.4.cu121
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.51.0
triton==3.0.0
typepy==1.3.4
typer==0.9.4
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
vllm==0.6.3.post1
wandb==0.19.11
wasabi==1.1.3
watchfiles==1.0.4
weasel==0.3.4
websockets==14.2
word2number==1.1
xformers==0.0.27.post2
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
